<footer id="footer">
    <div class="footer-container">
        <ul class="socials">
            <li class="facebook"><a href="#" class="circle-icon"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="#" class="circle-icon"><i class="fa fa-twitter"></i></a></li>
            <li class="share-alt"><a href="#" class="circle-icon"><i class="fa fa-share-alt"></i></a></li>
        </ul>
        <ul class="footer-copyright">
            <li>Heart <i class="fa fa-coffee"></i> Collect from <a href="http://www.baidu.com/" title="医疗" target="_blank">医疗模板</a> - MM <a href="http://www.baidu.com/" target="_blank" title="沃特哈哈">沃特哈哈</a></li>
        </ul>
    </div>
</footer>
<script type="text/javascript" src="static/js/jquery-2.1.0.min.js?ver=1"></script>
<script src="static/js/jquery.easing.js"></script>
<script type="text/javascript" src="static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/jquery.nav.js"></script>
<script type="text/javascript" src="static/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="static/js/jquery.sticky.js"></script>
<script type="text/javascript" src="static/js/jquery.appear.js"></script>
<script type="text/javascript" src="static/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="static/js/verge.min.js"></script>
<script type="text/javascript" src="static/js/custom.js"></script>