<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/prettyPhoto.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/owl.carousel.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/owl.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/animate.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
<!-- Fonts -->
<link href='static/css/fonts_1.css?family=Dosis' rel='stylesheet' type='text/css'>
<link href='static/css/fonts_2.css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">