<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加医生</title>
    {% include "./header.html" %}
</head>

<body>
    <form name="form" method="post" id="form" enctype="multipart/form-data" action="/admin/doctor/avatar">
        <div class="box-body">
            <div class="form-group">
                <label for="doctorName">医生名称</label>
                <input class="form-control" id="doctorName" name="doctorName" placeholder="请输入医生名称" required>
            </div>
            <div class="form-group">
                <label for="doctorName">科室</label>
                <input class="form-control" id="office" name="office" placeholder="请输入科室" required>
            </div>
            <div class="form-group">
                <label for="doctorName">联系方式</label>
                <input class="form-control" id="phone" name="phone" placeholder="请输入联系方式" required>
            </div>
            <div class="form-group">
                <label for="avatar">上传医生头像</label>
                <input id="avatar" type="file" name="avatar" class="file" data-overwrite-initial="false" data-min-file-count="1">
            </div>
            <div class="form-group">
                <button type="button" id="save" class="btn btn-info">保存</button>
            </div>
        </div>
    </form>
</body>
{% include "./footer.html" %}
<script src="/static/js/fileinput.js"></script>
<script src="/static/js/fileinput_locale_zh.js"></script>
<script>
    $(function () {

        //保存医生信息和头像）
        $("#avatar").fileinput({
            uploadUrl: ASKURL +  '/admin/doctor/avatar', // you must set a valid URL here else you will get an error
            allowedFileExtensions : ['jpg', 'png','gif'],
            overwriteInitial: false,
            showUpload: true,
            maxFileSize: 1000,
            maxFilesNum: 1,
            slugCallback: function(data) {
                console.log('data====='+JSON.stringify(data));
                // return filename.replace('(', '_').replace(']', '_');
            }
        });
        
        function filechange() {
            console.log('sdfasdf');
        }

        //保存医生（不上传头像）
        $("#save").click(function () {
            var doctorName = $("#doctorName").val();
            var office = $("#office").val();
            var phone = $("#phone").val();
            if(isNull(doctorName)){
                alert("请输入医生名称");
            }else if(isNull(office)){
                alert("请输入科室");
            }else if(isNull(phone)){
                alert("请输入联系方式");
            }else{
                mypost('/admin/doctor/save',{ "doctorName": doctorName, "office": office, "phone": phone},function (data) {
                    if (data.succ) {
                        alert("添加成功");
                        window.location.href = "/admin/doctor/index"
                    } else {
                        alert("添加失败");
                    }
                },function (err) {
                    alert("添加失败");
                })
            }
        });
    })
</script>
</html>